<%= link_to 'Back', root_path %>

<article class="article show container">
    <header class="twelve columns">
      <h1 class="title"><%= @article.title -%></h1>
      <span class="domain"><%= @article.domain -%></span>
      <small class="created_at" data-moment><%= @article.created_at -%></small>
    </header>
    <div class="row">
      <div class="excerpt nine columns"><%= @article.excerpt -%></div>
      <div class="three columns">
        {{render 'vote' model}}
      </div>
    </div>

</article>

<div class="comments_list container">
  <% @article.comments.each do |comment| %>
    <div class="comment twelve columns">
      <header class="twelve columns">
      <span class="user_name"><%= comment.user_name -%></span>
      <span class="created_at" data-moment><%= comment.created_at -%></span>
      </header>
      <div class="content twelve columns">
      <%= comment.content %>
      </div>
    </div>
  <% end %>
</div>
