<div class="container form-container">

  <div class="header">
    <h2>Change your password</h2>
  </div>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>

  <%= devise_error_messages! %>
  <%= f.hidden_field :reset_password_token %>

  <div class="row">
    <div class="six columns">
      <%= f.label :password, "New password" %>
      <%= f.password_field :password, autofocus: true, autocomplete: 'off', class: 'u-full-width' %>
    </div>

    <div class="six columns">
      <%= f.label :password_confirmation, "Confirm new password" %>
      <%= f.password_field :password_confirmation, autocomplete: 'off', class: 'u-full-width' %>
    </div>
  </div>

  <div class="row">
    <%= f.submit "Change my password", class: 'button-primary' %>
  </div>

<% end %>

<%= render "users/shared/links" %>

</div>